body {
    font-family: 'Inter', sans-serif;
    background-color: #f0fdf4;
    margin: 0;
}
img {
    width: 15%;
}
#img-1 {
    width: 100%;
    max-width: 300px;
}
#img-2, #img-3 {

}
.container {
    background-color: yellow;
    display: flex;
    max-height: 10000px;
    height: 100%;
}
.container-left, .container-right {
    display: block;
    align-items: center;
}
.container-left {
    background-color: red;
    margin-left: 50px;
}
.container-right {
    background-color: blueviolet;
    margin-right: 50px;

}
.container-left-top {
    display: flex;
    justify-content: center;
}
.container-left-mid {
    display: flex;
    justify-content: center;
}
.container-right-top {
    display: flex;
    justify-content: center;
}
.container-right-mid {
    justify-content: center;
}
.container-right-bot {
    justify-content: center;
}