body {
    font-family: 'Inter', sans-serif;
    background-color: #545554;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 2rem;

}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
}
img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid__position {
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat (3, 350px);
    grid-template-rows: repeat (2, 230px);
    grid-gap: 14px;
}

#img-1 {
    grid-area: 1/1/2/2;
}

#img-2 {
    grid-area: 1/2/2/3;
}

#img-3 {
    grid-area: 1/3/2/4;
}

#img-4 {
    grid-area: 2/1/3/2;
}

#img-5 {
    grid-area: 2/2/4/3;
}

#img-6 {
    grid-area: 2/3/3/4;
}

#img-7 {
    grid-area: 3/1/4/2;
}

#img-8 {
    grid-area: 3/3/4/4;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
