body {
    font-family: 'Inter', sans-serif;
    background-color: #f0fdf4;
    margin: 0;
}
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container .box .column {
    display: flex;
    flex-direction: row;
    width: 32.5%;
}
img {
    width: 300px;
}