.navbar-nav {
    display: flex;
    justify-content: space-between;
    background-color: #D8F2B8;
    
}

.nav-links {
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: 100px;
    
}

main {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 20px;
}

.logo-container {
    margin-left: 10px;
}

section {
    display: inline-block;
    align-items: center;
    background-color: #1A1A1A;
}

.img {
    background-color: none;
    width: 50%;
    height:50% ;
    margin right: 30px;
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;

}